<div class="container">
  <h1>Welcome</h1>
  <p>
    <%= link_to 'About', about_path, class: 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
  </p>
</div>

<!-- Ruby logic (dont display) -->
<!-- er + tab -->
<%  %>
<!-- Ruby info (want to display) -->
<!-- pe + tab -->
<%=  %>
